.list-wrapper {
    margin-top: 20px;
  }
  
  .list-icon {
    display: inline-block;
    margin-right: 5px;
  }
  .store-update_el-form{  
    visibility: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(203, 203, 203, 0.49);
    width: 100vw;
    height: 100vh;
  }
  
  .store-update_el-form .update_el_wrap {
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    width:  800px;
    height: 300px;
    padding-top: 15px;
  }
  
  .store-update_el-form .update_el_wrap .update_el_wrap_inside{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    /* background-color: pink; */
  }
  
  .store-update_el-form .update_el_wrap .update_el_wrap_content{
    display:flex;
    justify-content: center;
    align-items: center;
  
    margin: 20px 0px;
  }